<div class="container">
  <div style="display: flex; justify-content: space-between;">
    <h1><%= @task.title %></h1>
    <%= button_to "Edit this task", edit_task_path,
    :class => "glyphicon glyphicon-edit", :method => :get %>
  </div>


  <div>
    <p><%= @task.details %></p>
  </div>
  <div style="display: flex;">
    <input type="checkbox" <%= @task.completed ? "checked" : "" %>>
    <p>This task is <%= @task.completed ? "completed" : "not completed yet" %></p>
  </div>
  <br>
  <%= link_to "Back to list", tasks_path %>
</div>
