<h1><%= @task.title %></h1>

<div>
  <p><%= @task.details %></p>
</div>
<div style="display: flex;">
  <input type="checkbox" <%= @task.completed ? "checked" : "" %>>
  <p>This task is <%= @task.completed ? "completed" : "not completed yet" %></p>
</div>
<br>
<%= link_to "Back to list", tasks_path %>
